/* fontes */
.righteous{
    font-family: 'Righteous', cursive;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

.topo{
    width: 100%;
    height: 92px;
    background-color: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
}
.nomeEmpresa{
    color: #ffffff;
    font-size: 44px;
    letter-spacing: -1.2%;
    line-height: 54.63px;
    font-weight: 400;
    font-style: normal;
    height: 44px;
    width: 248px;
    padding: 8px 0 0 21px ;
}
.slogan{
    color: #ffffff;
    font-size: 18px;
    line-height: 21.09px;
    font-weight: 300;
    height: 17px;
    /* width: 226px; */
    padding: 15px 18px 0 21px ;
}
.conteudo{
    margin: 92px 0 92px 19px;
    display: flex;
    flex-direction: column
}
h3{
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.018em;
    color: #333333;
}
.texto-prato{
    margin: 31px 0 17px;
}
.pratos-conteiner{
    display: flex;
    overflow-x: scroll;
}
.produto{
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-left: 12px;
    text-align: left;
    margin-right: 16px;
    
}
.selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.imagem-produto img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.titulo-produto{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #333333;
    width: 139px;
    height: 23px;
    margin-top: 8px;
    text-align: left;
}
.descricao-produto{
    font-size: 15px;
    line-height: 17.58px;
    font-weight: 300;
    color: #a6a6a6;
    width: 147px;
    height: 39px;
    margin-top: 4px;
}
.valor-produto{
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
    color: #000000;
    width: 66px;
    height: 19px;
    margin-top: 5px;
}

.texto-bebida{
    margin: 27px 0 17px;
}
.bebidas-conteiner{
    display: flex;
    overflow-x: scroll;
}
.texto-sobremesa{
    margin: 27px 0 17px;
}
.sobremesas-conteiner{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 16px;
}


.bottom{
    height: 92px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selecionar-pedido{
    margin: 2px solid #cbcbcb;
    background-color: #cbcbcb;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    width: 90%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 50px;
    text-align: center;
}

.enviar-pedido{
    display: none;
    
}
.pedido-finalizado{
    background-color: #32B72F;
}

